

html, body{
  margin: 0;
  height: 100%;

}
body {
    
    font-family: 'Marvel', sans-serif;
    font-size: 100%;
  
  
  }
  *{box-sizing: content-box;}
 
  #nav {
  
    position:sticky;

  }
  #nav ul {
    list-style-type: none;
  }
  #nav ul li {
    font-weight: normal;
    text-transform: uppercase;
    float: left;
  }
  #nav ul a:link {
      color: rgb(39, 77, 56);
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  #nav ul a:visited {
    color:rgb(39, 77, 56);
  }
  
  #nav ul a:hover {
    color:rgb(39, 77, 56);
  }
  #nav ul a:active {
    color:#6bbc14ed;
  }
  #nav li a:hover {/* Change the link color to #111 (black) on hover */
    background-color: #b1dd82;;/*#111;*/
  }
  .content{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    
       
  }
  #banner{
  
    width: 100%;
    height:100%;      
  }
  #banner img{
  width:100%;
  }
  /* styles for the products section */

 #products {
  background-color:#f2fedc;
  line-height: 1.5em;
  padding:1.5em;
  margin:16px;
  
  }
 #products h2 {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing:2px;
  font-size: 1.8em;
  color: #2cb354;
  text-align: center;
  text-transform: uppercase;

  
  }
#products h3 {
  font-size: 1em;
  text-transform: uppercase;
  color: #F26521;
}
#products img{
  width:30%;
  height:40%;
}
#presentacion{
  display: flex;
}
#presentation p{
  width: 60%;
  text-align:justify;

}

#presentacion img{
  width:40%;
  max-height:35%;
  border-radius:25px;
  
}
#presentacion img+p{
  padding-left:16px;
  text-align: justify;
  vertical-align: middle;
}
 #products h2+p{
    text-align: center;
  }
 

/* miscellaneous styles */
  
em { 
  color: #F26521;
  }
 article{
    background-color: rgb(245, 247, 147);
    padding:30px;
    text-align:justify;
    line-height:1.2em;
    margin:16px;
    border-style:dashed;
    border-color: rgb(247, 152, 10);
    border-width:3px;
    font-size:90%;
  }
article h2{
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing:4px;
  color:rgb(128, 93, 48);

}
footer{
    background: #9ef793; 
      font-size: 14px;
      padding: 30px 0;
    display: block;
    }
 
footer .wrapper{
  display:flex;
  justify-content: space-around;
  }
  footer .wrapper.footer1{
  width:50%;}
  footer .wrapper.footer2{
  width:50%;
  }
  /*Prueba galeria*/
  h1 {
    color: #fff;
    text-align: center;
  }
  
  